<!DOCTYPE html>
<html>
	<head>
		<title> AngularJS Tutorials </title>
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>
		<a href="https://thinkster.io/egghead/defining-a-method-on-the-scope/"> Defining methods </a>
		<div ng-app="myApp">
			<h3>  Method in scope </h3>
			<p><i> Try to don't use scope value inside function. It's better to pass in the data as a parameter. This removes the scope dependency inside the method which is cleaner and allows for easier testing. </i><p>
			<div class="examples">
				<div ng-controller="FirstCtrl">
				    <input type="text" ng-model="sharedData.message">
				    <h1>{{ sharedData.message }}</h1>
				</div>

				<div ng-controller="SecondCtrl">
				    <input type="text" ng-model="sharedData.message">
				    <h1>{{ reversedMessage(sharedData.message) }}</h1>
				</div>
			</div>
			
		</div>
		<script type="text/javascript" src="./Angular/Angular1.2.26.js"></script>
		<script>
			var myApp = angular.module('myApp', []);
			myApp.factory('Data', function() {
				return { message: "I'm data from a service"}
			})

			function FirstCtrl($scope, Data){
				$scope.sharedData = Data;
			}
			
			function SecondCtrl($scope, Data){
		  		$scope.sharedData = Data;

		  		$scope.reversedMessage = function(message) {
		  			return message.split("").reverse().join("");
		  		}
			}
		</script>
	</body>
</html>