<!DOCTYPE html>
<html>
	<head>
		<title> AngularJS Tutorials </title>
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>
		<a href="https://thinkster.io/egghead/filters/"> Filters </a>
		<div ng-app="myApp">
			<h3> Filters </h3>
			<div class="examples">
				<div ng-controller="FirstCtrl">
				    <input type="text" ng-model="sharedData.message">
				    <h1>{{ sharedData.message }}</h1>
				</div>

				<div ng-controller="SecondCtrl">
				    <input type="text" ng-model="sharedData.message">
				    <h1>{{ sharedData.message | reverse }}</h1>
				</div>
			</div>
			<h3> Filters with injection </h3>
			<div class="examples">
				<div ng-controller="FirstCtrl">
				    <input type="text" ng-model="sharedData.message">
				    <h1>{{ sharedData.message }}</h1>
				</div>

				<div ng-controller="SecondCtrl">
				    <input type="text" ng-model="sharedData.message">
				    <h1>{{ sharedData.message | reverseWithData }}</h1>
				</div>
			</div>
		</div>
		<script type="text/javascript" src="./Angular/Angular1.2.26.js"></script>
		<script>			
			var myApp = angular.module('myApp', []);
			
			myApp.factory('Data', function() {
				return { message: "I'm data from a service"}
			})

			myApp.filter('reverse', function() {
				return function(text) {
					return text.split("").reverse().join("");
				}
			})

			myApp.filter('reverseWithData', function(Data) {
				return function(text) {
					return text.split("").reverse().join("") + " " + Data.message;
				}
			})

			function FirstCtrl($scope, Data){
				$scope.sharedData = Data;
			}
			
			function SecondCtrl($scope, Data){
		  		$scope.sharedData = Data;

		  		$scope.reversedMessage = function(message) {
		  			return message.split("").reverse().join("");
		  		}
			}
		</script>
	</body>
</html>